@font-face {
    font-family: 'story script';
    src: url('../assets/font/Story_Script/StoryScript-Regular.ttf') format('truetype');
}
@media (max-width: 800px) {
    header {
        background-color: #1B2A41;
        display: flex;
        margin-top: 0;
        position: sticky;
        z-index: 1000;  /* stays above everything */
        width: 100%;
        padding: 0;
        top: 0;
    }

    #logoContainer {
        display: flex;
        background-color: #1B2A41;
        width: 100%;
        justify-content: center;
    }
    header nav #logoContainer img {
        width: 200px;
    }
    #logo-container {
        display: flex;
        background-color: #1B2A41;
        width: 100%;
        justify-content: center;
    }
    nav {
        display: flex;
        flex-direction: column;
        margin: 0vh 0 0vh 0;
        width: 100%;
        background-color: #1B2A41;
        justify-content: center;
    }
    .hamburger {
        display: block;
        position: absolute;
        bottom: 3vw;
        left: 3vw;
        font-size: 24px;
        cursor: pointer;
        -webkit-tap-highlight-color: transparent; /*removes blue tap highlight */
        background-color: #1B2A41;
        border: none;
    }
    .menu-image {
        color: white;
    }
    #hamburger-nav {
        display: none;
        position: absolute;
        left: 0;
        flex-direction: column;
        background: #1B2A41;
        top: 100%;
        width: 100%;
        gap: 2vh;
        padding: 5vw 5vh 2.4vw 5vh;
        border-bottom: solid black;
        border-width: .15rem;
    }

    #hamburger-nav .nav-link {
        font-family: serif;
        font-size: large;
        background-color: #1B2A41;
        -webkit-tap-highlight-color: transparent; /*removes blue tap highlight */
    }
    .hamburger-line {
        width: 75%;
        border: solid black .1rem;
        margin-left: 0;
    }
    #hamburger-nav.open {
        display: flex;
    }
    .nav-link {
        text-decoration: none;
        font-family: serif;
        font-size: large;
    }
    #company-h1 {
        background-color: #1B2A41;
        width: 100%;
        text-align: center;
        margin-top: auto;
    }
    #company-h1 h6 {
        margin-bottom: 1vh;
    }
    header nav h1 {
        font-family: 'story script';
        margin: 0 0 1vw 0;
        background-color: #1B2A41;
        color: rgb(254,149,23);
    }
    .error-message {
        margin-top: 20vh;
        color: red;
        text-align: center;
    }
}