body {
    padding: 0;
    margin:0;
    background-color: #293d55;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#root {
    display: flex;
    flex-direction: column;
    width: 100%;
    display: flex;
}
a,p,h1,h2,h3,h4,h5,h6 {
    color: white;
    margin: 0;
}
.job-search {
    background-color: #1B2A41;
    border: none;
    border-radius: .3rem;
    text-align: center;
    font-family: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji";
    color: white;
}
.job-search::placeholder {
  color: white;           /* placeholder text */
  opacity: 0.9;          /* optional: make it a bit lighter */
}
input, select, textarea  {
    border: none;
    border-radius: .2rem;
    text-align: center;
    font-family: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji";
    background-color: white;
}
.forms {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 50%;
    gap: 1vw;
}
button {
    border: none;
    border-radius: .2rem;
    font-family: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji";
}
a,p,h1,h2,h3,h4,h5,h6 {
    color: white;
    margin: 0;
    font-family: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji";
}
/*GLOBAL STYLING FOR BUTTONS*/
.threeDotMenu-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vw;
    margin-left: auto;   /* pushes this whole container to the right */
}
.threeDotMenu-options {
    display: none;
    flex-direction: column;
    text-align: center;
    gap: 1vw;
}
.threeDotMenu-options a, .threeDotMenu-options button {
    color: rgb(254,149,23);
}
.deleteJob-btn {
    all: unset;
    color: white;
}
.threeDotMenu-options.active {
    display: flex;
}
.three-dot-menu-icon {
    background-color: #1B2A41;
    border: none;
    color: white;
    font-size: x-large;
}