body {
    padding: 0;
    margin:0;
    background-color: rgb(66, 83, 106);
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  display: flex;
}
a,p,h1,h2,h3,h4,h5,h6 {
    color: rgb(228, 224, 224);
    margin: 0;
}

.input-boxes {
        border: solid black .15rem;
        text-align: center;
        font-family: sans-serif;
    }
    .forms {
        display: flex;
        flex-direction: column;
        align-self: center;
        width: 50%;
        gap: 1vw;
    }
    input, button, select, textarea {
        border: solid black .1rem;
        border-radius: .2rem;
        font-family: sans-serif;
    }
    a,p,h1,h2,h3,h4,h5,h6 {
        color: rgb(228, 224, 224);
        margin: 0;
    }
    /*GLOBAL STYLING FOR BUTTONS*/
    .jobDetails-backBtn {
        width: max-content;
        background-color: rgb(66, 83, 106);
        -webkit-tap-highlight-color: transparent; /*removes blue tap highlight */
    }
    .threeDotMenu-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1vw;
        margin-left: auto;   /* pushes this whole container to the right */   
    }
    .threeDotMenu-options {
        display: none;
        flex-direction: column;
        text-align: center;
        gap: 1vw;
    }
    .threeDotMenu-options a, .threeDotMenu-options button {
        color: rgb(254,149,23);
    }
    .deleteJob-btn {
        all: unset;
        color: rgb(228, 224, 224);
    }
    .threeDotMenu-options.active {
        display: flex;
    }
    .three-dot-menu-icon {
        background-color: rgb(51, 65, 85);
        border: none;
        color: white;
        font-size: x-large;
    }