@media (max-width: 800px) {
    .jobsDetails-page {
        background-color: #293d55;
        margin-top: 3vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0 2vw 0 2vw;
        box-sizing: border-box;
        min-height: 100vh;

    }
    .jobDetails-backBtn {
    position: absolute;
    left: 3vw;
    width: max-content;
    -webkit-tap-highlight-color: transparent; /*removes blue tap highlight */
    }

    .jobDetails-container {
        display: flex;
        flex-direction: column;
        align-items: left;
        width: 100%;
        gap: 3vw;
        margin: 5vh 0 0 0;
        box-sizing: border-box;
        padding: 0 2vw 0 2vw;
        background-color: #1B2A41;
        border-radius: .4rem;
        box-shadow: 0 4px 8px -2px rgba(0, 0, 0, 0.5);
    }
    .jobDetails-subContainer {
        display: flex;
        gap: 8vw;
        flex-direction: row;
        align-items: center;
        background-color: #1B2A41;
        border-bottom: solid black .15rem;
        padding: 2vw 0 2vw 0;
    }

    .jobDetails-image {
        width: 25%;
    }
    .jobDetails-text {
        display: flex;
        flex-direction: column;
        text-align: left;
        gap: 2vw;
    }
    #jobDetails-notes {
        white-space: pre-wrap;     /* preserve \n as line breaks */
        overflow-wrap: break-word; /* break long words if needed */
        word-break: break-word;    /* extra safety for long strings */
    }
}
