.login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2vh;
    width: 100%;
    min-height: 100vh;
}
main h1 {
    color: rgb(254,149,23);
}
#loginForm-container {
    border-top: solid rgb(254,149,23) .5rem;
    background-color: #1B2A41;
    width: 75%;
    padding: 3vw;
    border-radius: .5rem;
    box-shadow: 0 4px 8px -2px rgba(0, 0, 0, 0.5);
    margin-top: 4vw;
}
#login-form {
    display: flex;
    flex-direction: column;
    align-items: stretch; /*Forcing  everything to stretch to fill container*/
    gap: 1.5vw;
    width: 100%;
}
#loginForm-accountType {
    text-align: center;
}
#login-form select {
    height: 1.5rem;

}
#login-form input {
    text-align: center;
    width: 100%;
    height: 1.5rem;
    box-sizing: border-box; /* ensures padding/border don't overflow */
}
#login-form input:focus {
    outline: none;
    border: solid rgb(254,149,23) .15rem ;
}
#login-form select:focus {
    outline: none;
    border: solid rgb(254,149,23) .15rem ;  
}
#login-form button {
    width: 100%;
    height: 1.5rem;
    background-color: rgb(254,149,23);
    box-sizing: border-box; /* ensures padding/border don't overflow */
    box-shadow: 0 4px 8px -2px rgba(0, 0, 0, 0.5);
}
#loginForm-container a {
    font-size: small;
    align-self: center;
}
#loginForm-container hr {
    width: 75%;
    border: solid black .1rem;
}
#createAccount-container {
    display: flex;
    width: 100%;
    justify-content: center;
}
#createAccount-btn {
    border: solid black .1rem;
    border-radius: .2rem;
    font-family: sans-serif;
    width: 50%;
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1vw;
    background-color: rgb(228, 224, 224);
    text-decoration: none;
    color: black;
}
.error {
    text-align: center;
    color: red;
    font-size: small;
}