#manageEmployeesPage-main {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 1vh;
        width: 100%;
        padding-top: 3vw;
}
#addEmployee-image {
    position: fixed;
    z-index: 1000;  /* stays above everything */
    bottom: 2vw;
    right: 2vw;
    width: 25%;
}

.employees-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 3vw;
    margin-top: 2vh;
    box-sizing: border-box;
    padding: 2vh 2vw 10vh 2vw;
}
.employee-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5vw;
    width: 100%;
    border-left: solid rgb(254,149,23) .3rem;
    border-radius: .4rem;
    box-shadow: 0 4px 8px -2px #1B2A41;
    padding: 1vw 0 1vw 0;
    background-color: #1B2A41;
    -webkit-tap-highlight-color: transparent; /*removes blue tap highlight */
}
.employee-image {
    width: 25%;
}
.employee-text {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 1vw;
}
.threeDotMenu-container {
    display: flex;
    flex-direction: row;
}
.threeDotMenu-options {
    display: flex;
    flex-direction: column;
    gap: 2.5vh;
    padding: 1vh 1vw 1vh 1vw;
    margin: 0;
}
.threeDotMenu-options #editJobHref, .threeDotMenu-options button {
    color: rgb(254,149,23);
    text-decoration: none;
}
.delete-icon {
    color: red;
}

.error {
    text-align: center;
    color: red;
    font-size: medium;
    margin-top: 2vh;
}