@media (max-width: 800px) {
    #jobDetails-main {
        background-color: rgb(66, 83, 106);
        margin-top: 30vw;
        width: 100%;
        height: 500px;
        display: flex;
        flex-direction: column;
        padding: 0 2vw 0 2vw;
        box-sizing: border-box;

    }

    .jobDetails-container {
        display: flex;
        flex-direction: column;
        align-items: left;
        width: 100%;
        gap: 3vw;
        margin: 2vw 0 0 0;
        box-sizing: border-box;
        padding: 0 2vw 0 2vw;
        background-color: rgb(51, 65, 85);
        border-radius: .4rem;
        box-shadow: 0 4px 8px -2px rgba(0, 0, 0, 0.5);
    }
    .jobDetails-subContainer {
        display: flex;
        gap: 8vw;
        flex-direction: row;
        align-items: center;
        background-color: rgb(51, 65, 85);
        border-bottom: solid black .15rem;
        padding: 2vw 0 2vw 0;
    }

    .jobDetails-image {
        width: 25%;
    }
    .jobDetails-text {
        display: flex;
        flex-direction: column;
        text-align: left;
        gap: 2vw;
    }
}
